body {
    background-color: #b7bdf1;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}


div h1, h2, h3, h4 {
    color: rgb(88, 70, 119);
}

.o sol{
    color: darkslateblue;
}

p, ol, li {
    color: #646cb1;
}